/*
* Mobile minimum
*/

@media screen and (min-width: 200px) and (max-width: 640px) {
    /* h1 {
        font-size: 7.2rem;
    }

    h2 {
        font-size: 4.8rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    h4 {
        font-size: 2.4rem;
    } */    
}